/* Основные переменные */
:root {
  --primary-color: #007bff;
  --secondary-color: #f8f9fa;
  --text-color: #333;
  --background-color: #ffffff;
  --sidebar-bg: #2d3e50;
  --sidebar-text: #cfd8dc;
  --hover-color: #1e90ff;
  --button-bg: #007bff;
  --button-hover: #0056b3;
}

/* Улучшение шапки */
.header {
  background-color: var(--primary-color);
  color: white;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Боковая панель */
.sidebar {
  background-color: var(--sidebar-bg);
  width: 250px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  padding: 15px;
}

.sidebar a {
  color: var(--sidebar-text);
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
}

.sidebar a:hover {
  background-color: var(--hover-color);
  color: white;
}

/* Контент */
.container {
  margin-left: 270px;
  padding: 20px;
  max-width: 1000px;
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
}

/* Заголовки */
h1, h2, h3, h4 {
  color: var(--primary-color);
}

/* Кнопки */
.button {
  display: inline-block;
  background-color: var(--button-bg);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--button-hover);
}

/* Таблицы */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: var(--primary-color);
  color: white;
}

/* Ссылки */
a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Улучшенный скролл */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--secondary-color);
}
